/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: large;
}

/* Estilo para o título "Teste" */
h2 {
    color: #333;
}

/* Estilo para o parágrafo de introdução */
p {
    color: #666;
}

/* Estilo para o formulário */
form {
    background-color: #fff;
    max-width: 750px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para os rótulos das afirmações */
label {
    margin: 10px 10px 10px 0px;
    font-weight: bold;
    text-align: right;
    text-align: left;
}

/* Estilo para os botões de opção */
input[type="radio"] {
    
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilo para o botão "Calcular Pontuação" */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para os resultados das pontuações */
#resultadoCinza,
#resultadoRosa,
#resultadoVerde,
#resultadoAmarelo,
#resultadoAzul,
#resultadoSemCor {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

#mensagemFinal {
    font-style: italic;
    color: #333;
    font-size: large;
}

.quadrado-verde {
    width: 25px;
    height: 20px;
    display: inline-block;
    background-color: green; 
    margin-top: 5px;
}

.quadrado-amarelo {
    width: 25px;
    height: 20px;
    display: inline-block;
    background-color: yellow; 
    margin-top: 5px;
}

.quadrado-vermelho {
    width: 25px;
    height: 20px;
    display: inline-block;
    background-color: red; 
    margin-top: 5px;
}